@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

#intro {
  font-family: 'Lato', sans-serif;
  color: #FEFFFF;
  opacity: 0;
  font-size: 5rem;
  animation: fadeIn 2s ease forwards;
}

#name{
  color: mistyrose;
  font-family: 'Cormorant Garamond', serif;
  font-size: 3rem;
  opacity: 0;
  animation: fadeInText 2s ease forwards 3s;
}

#ktth {
  color: #FEFFFF;
  font-family: 'Ubuntu', sans-serif;
  font-size: 6rem;
  opacity: 0;
  animation: fadeInText 2s ease forwards 3s;
}

.intro {
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #380000;
  transform: scale(0, 0);
  animation: animate 1s ease-in forwards 2s;
  overflow: auto;
}

.content {
  width: 100%;
  text-align: center;
  overflow-y: auto;
}

a{
  text-decoration: none;
  color: white;
}

.button-52 {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid white;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-52:hover{
  background-color: #8B0000;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}

.button-52{
  animation: animate 1s ease-in forwards 2s;
  top: 20vh;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  color: white;
}

@keyframes animate {
  0% {
    transform: scale(0, 0.005);
  }
  50% {
    transform: scaleY(0.005);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(-50%);
  }
}

@keyframes fadeInText {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

html {
  scroll-behavior: smooth;
}