@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poltawski+Nowy:ital@1&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

#intro {
  color: white;
  opacity: 0;
  font-size: 5rem;
  animation: fadeIn 2s ease forwards;
}

#name{
  font-family: 'Poltawski Nowy', serif;
  font-size: 3rem;
  opacity: 0;
  animation: fadeInText 2s ease forwards 3s;
}

#ktth {
  font-family: 'Roboto Mono', monospace;
  font-size: 6rem;
  opacity: 0;
  animation: fadeInText 2s ease forwards 3s;
}

.intro {
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: mistyrose;
  transform: scale(0, 0);
  animation: animate 1s ease-in forwards 2s;
  overflow: hidden;
}

.content {
  width: 100%;
  text-align: center;
  overflow-y: auto;
}

@keyframes animate {
  0% {
    transform: scale(0, 0.005);
  }
  50% {
    transform: scaleY(0.005);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(-50%);
  }
}

@keyframes fadeInText {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

html {
  scroll-behavior: smooth;
}

.section1 {
  height: 600px;
  background-color: pink;
}

.section2 {
  height: 600px;
  background-color: yellow;