* {
    box-sizing: border-box;
    margin: 0;
}

.section1{
    height: 30rem;
}

.section2{
    height: 30rem;
}

.section3{
    height: 30rem;
}

.section4{
    height: 30rem;
}

.section5{
    height: 30rem;
}